.cover {
  position: absolute;
  background: black;
  width: 100%;
  max-width: 900px;
  overflow: hidden;
  height: 100%;
  //z-index: 10;
  bottom: 0;
}

.cover img {
  position: absolute;
  margin-top: 200%;
}

.showUp {
  bottom: 60%;
  transition: bottom 1s 0s;
  //z-index: 10;
}

.showDown {
  bottom: -50%;
  transition: bottom 1s 0s;
  //z-index: 10;
}
