.window {
  //background-color: #d7d7d7;
  //background-image: linear-gradient(147deg, #d7d7d7 0%, #353535 74%);
  width: 300px;
  border-radius: 5px;
  height: 300px;
  background: rgba(255, 255, 255, 0.1);
}